cxf/src/main/resources/wsdl/soapserver.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://notice.server.soap.common.exchange.autinform.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://notice.server.soap.common.exchange.autinform.de/" name="SoapServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.kps-consulting.com" schemaLocation="https://www.simap.ch:443/shabforms/soapserver?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://notice.server.soap.common.exchange.autinform.de/" schemaLocation="https://www.simap.ch:443/shabforms/soapserver?xsd=2"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="https://www.simap.ch:443/shabforms/soapserver?xsd=3"></xsd:import>
</xsd:schema>
</types>
<message name="getAuthentication"></message>
<message name="getAuthenticationResponse">
<part name="success" type="xsd:boolean"></part>
</message>
<message name="Fault">
<part xmlns:ns1="http://www.kps-consulting.com" name="fault" element="ns1:Fault"></part>
</message>
<message name="getNoticeXml">
<part name="docId" type="xsd:long"></part>
</message>
<message name="getNoticeXmlResponse">
<part name="noticeXml" type="xsd:string"></part>
</message>
<message name="getNoticeList">
<part name="publishDate" type="xsd:dateTime"></part>
</message>
<message name="getNoticeListResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="noticeList" type="ns2:longArray"></part>
</message>
<message name="getNoticeListForCategory">
<part name="category" type="xsd:string"></part>
<part name="publishDate" type="xsd:dateTime"></part>
</message>
<message name="getNoticeListForCategoryResponse">
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="noticeList" type="ns3:longArray"></part>
</message>
<message name="getSearchNoticeList">
<part name="searchXml" type="xsd:string"></part>
</message>
<message name="getSearchNoticeListResponse">
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="noticeList" type="ns4:longArray"></part>
</message>
<message name="getSearchNoticeCount">
<part name="searchXml" type="xsd:string"></part>
</message>
<message name="getSearchNoticeCountResponse">
<part name="noticeList" type="xsd:string"></part>
</message>
<message name="getSearchNoticeXml">
<part name="searchXml" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getSearchNoticeXmlResponse">
<part name="noticeList" type="xsd:string"></part>
</message>
<message name="getActualCantonNoticeListForCategoryWithStatus">
<part name="category" type="xsd:string"></part>
<part name="status" type="xsd:string"></part>
</message>
<message name="getActualCantonNoticeListForCategoryWithStatusResponse">
<part xmlns:ns5="http://jaxb.dev.java.net/array" name="noticeList" type="ns5:longArray"></part>
</message>
<message name="getActualCantonNoticeListForCategory">
<part name="category" type="xsd:string"></part>
</message>
<message name="getActualCantonNoticeListForCategoryResponse">
<part xmlns:ns6="http://jaxb.dev.java.net/array" name="noticeList" type="ns6:longArray"></part>
</message>
<message name="getActualCantonNoticeList"></message>
<message name="getActualCantonNoticeListResponse">
<part xmlns:ns7="http://jaxb.dev.java.net/array" name="noticeList" type="ns7:longArray"></part>
</message>
<message name="getPublishedNoticeList">
<part name="publishDate" type="xsd:dateTime"></part>
</message>
<message name="getPublishedNoticeListResponse">
<part xmlns:ns8="http://jaxb.dev.java.net/array" name="noticeList" type="ns8:longArray"></part>
</message>
<message name="getProviderFromNotice">
<part name="docId" type="xsd:long"></part>
</message>
<message name="getProviderFromNoticeResponse">
<part name="provider" type="tns:provider"></part>
</message>
<message name="getNoticeXmls">
<part name="publishDate" type="xsd:dateTime"></part>
</message>
<message name="getNoticeXmlsResponse">
<part name="noticeXmls" type="xsd:string"></part>
</message>
<message name="getNoticePdf">
<part name="docId" type="xsd:long"></part>
</message>
<message name="getNoticePdfResponse">
<part name="pdf" type="xsd:base64Binary"></part>
</message>
<message name="getNoticeListForSubscriber">
<part name="publishDate" type="xsd:dateTime"></part>
<part name="subscriptionId" type="xsd:int"></part>
</message>
<message name="getNoticeListForSubscriberResponse">
<part xmlns:ns9="http://jaxb.dev.java.net/array" name="noticeList" type="ns9:longArray"></part>
</message>
<message name="getNoticeListForSubscriberDateRange">
<part name="publishDateFrom" type="xsd:dateTime"></part>
<part name="publishDateTo" type="xsd:dateTime"></part>
<part name="subscriptionId" type="xsd:int"></part>
</message>
<message name="getNoticeListForSubscriberDateRangeResponse">
<part xmlns:ns10="http://jaxb.dev.java.net/array" name="noticeList" type="ns10:longArray"></part>
</message>
<message name="getNoticeListForCategoryWithStatus">
<part name="category" type="xsd:string"></part>
<part name="status" type="xsd:string"></part>
<part name="publishDate" type="xsd:dateTime"></part>
</message>
<message name="getNoticeListForCategoryWithStatusResponse">
<part xmlns:ns11="http://jaxb.dev.java.net/array" name="noticeList" type="ns11:longArray"></part>
</message>
<message name="getNoticeHtml">
<part name="docId" type="xsd:long"></part>
</message>
<message name="getNoticeHtmlResponse">
<part name="noticeHtml" type="xsd:string"></part>
</message>
<message name="getAttachment">
<part name="docId" type="xsd:long"></part>
</message>
<message name="getAttachmentResponse">
<part name="file" type="xsd:base64Binary"></part>
</message>
<portType name="SoapServer">
<operation name="getAuthentication">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getAuthenticationRequest" message="tns:getAuthentication"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getAuthenticationResponse" message="tns:getAuthenticationResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getAuthentication/Fault/Fault"></fault>
</operation>
<operation name="getNoticeXml">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeXmlRequest" message="tns:getNoticeXml"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeXmlResponse" message="tns:getNoticeXmlResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeXml/Fault/Fault"></fault>
</operation>
<operation name="getNoticeList">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListRequest" message="tns:getNoticeList"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListResponse" message="tns:getNoticeListResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeList/Fault/Fault"></fault>
</operation>
<operation name="getNoticeListForCategory" parameterOrder="category publishDate">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForCategoryRequest" message="tns:getNoticeListForCategory"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForCategoryResponse" message="tns:getNoticeListForCategoryResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForCategory/Fault/Fault"></fault>
</operation>
<operation name="getSearchNoticeList">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getSearchNoticeListRequest" message="tns:getSearchNoticeList"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getSearchNoticeListResponse" message="tns:getSearchNoticeListResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getSearchNoticeList/Fault/Fault"></fault>
</operation>
<operation name="getSearchNoticeCount">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getSearchNoticeCountRequest" message="tns:getSearchNoticeCount"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getSearchNoticeCountResponse" message="tns:getSearchNoticeCountResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getSearchNoticeCount/Fault/Fault"></fault>
</operation>
<operation name="getSearchNoticeXml" parameterOrder="searchXml arg1">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getSearchNoticeXmlRequest" message="tns:getSearchNoticeXml"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getSearchNoticeXmlResponse" message="tns:getSearchNoticeXmlResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getSearchNoticeXml/Fault/Fault"></fault>
</operation>
<operation name="getActualCantonNoticeListForCategoryWithStatus" parameterOrder="category status">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getActualCantonNoticeListForCategoryWithStatusRequest" message="tns:getActualCantonNoticeListForCategoryWithStatus"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getActualCantonNoticeListForCategoryWithStatusResponse" message="tns:getActualCantonNoticeListForCategoryWithStatusResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getActualCantonNoticeListForCategoryWithStatus/Fault/Fault"></fault>
</operation>
<operation name="getActualCantonNoticeListForCategory">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getActualCantonNoticeListForCategoryRequest" message="tns:getActualCantonNoticeListForCategory"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getActualCantonNoticeListForCategoryResponse" message="tns:getActualCantonNoticeListForCategoryResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getActualCantonNoticeListForCategory/Fault/Fault"></fault>
</operation>
<operation name="getActualCantonNoticeList">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getActualCantonNoticeListRequest" message="tns:getActualCantonNoticeList"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getActualCantonNoticeListResponse" message="tns:getActualCantonNoticeListResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getActualCantonNoticeList/Fault/Fault"></fault>
</operation>
<operation name="getPublishedNoticeList">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getPublishedNoticeListRequest" message="tns:getPublishedNoticeList"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getPublishedNoticeListResponse" message="tns:getPublishedNoticeListResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getPublishedNoticeList/Fault/Fault"></fault>
</operation>
<operation name="getProviderFromNotice">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getProviderFromNoticeRequest" message="tns:getProviderFromNotice"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getProviderFromNoticeResponse" message="tns:getProviderFromNoticeResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getProviderFromNotice/Fault/Fault"></fault>
</operation>
<operation name="getNoticeXmls">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeXmlsRequest" message="tns:getNoticeXmls"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeXmlsResponse" message="tns:getNoticeXmlsResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeXmls/Fault/Fault"></fault>
</operation>
<operation name="getNoticePdf">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticePdfRequest" message="tns:getNoticePdf"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticePdfResponse" message="tns:getNoticePdfResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticePdf/Fault/Fault"></fault>
</operation>
<operation name="getNoticeListForSubscriber" parameterOrder="publishDate subscriptionId">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForSubscriberRequest" message="tns:getNoticeListForSubscriber"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForSubscriberResponse" message="tns:getNoticeListForSubscriberResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForSubscriber/Fault/Fault"></fault>
</operation>
<operation name="getNoticeListForSubscriberDateRange" parameterOrder="publishDateFrom publishDateTo subscriptionId">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForSubscriberDateRangeRequest" message="tns:getNoticeListForSubscriberDateRange"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForSubscriberDateRangeResponse" message="tns:getNoticeListForSubscriberDateRangeResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForSubscriberDateRange/Fault/Fault"></fault>
</operation>
<operation name="getNoticeListForCategoryWithStatus" parameterOrder="category status publishDate">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForCategoryWithStatusRequest" message="tns:getNoticeListForCategoryWithStatus"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForCategoryWithStatusResponse" message="tns:getNoticeListForCategoryWithStatusResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeListForCategoryWithStatus/Fault/Fault"></fault>
</operation>
<operation name="getNoticeHtml">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeHtmlRequest" message="tns:getNoticeHtml"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeHtmlResponse" message="tns:getNoticeHtmlResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getNoticeHtml/Fault/Fault"></fault>
</operation>
<operation name="getAttachment">
<input wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getAttachmentRequest" message="tns:getAttachment"></input>
<output wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getAttachmentResponse" message="tns:getAttachmentResponse"></output>
<fault message="tns:Fault" name="Fault" wsam:Action="http://notice.server.soap.common.exchange.autinform.de/SoapServer/getAttachment/Fault/Fault"></fault>
</operation>
</portType>
<binding name="SoapServerPortBinding" type="tns:SoapServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getAuthentication">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoticeXml">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoticeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoticeListForCategory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSearchNoticeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSearchNoticeCount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSearchNoticeXml">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getActualCantonNoticeListForCategoryWithStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getActualCantonNoticeListForCategory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getActualCantonNoticeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getPublishedNoticeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getProviderFromNotice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoticeXmls">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoticePdf">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoticeListForSubscriber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoticeListForSubscriberDateRange">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoticeListForCategoryWithStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoticeHtml">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAttachment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://notice.server.soap.common.exchange.autinform.de/"></soap:body>
</output>
<fault name="Fault">
<soap:fault name="Fault" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="SoapServerService">
<port name="SoapServerPort" binding="tns:SoapServerPortBinding">
<soap:address location="https://www.simap.ch:443/shabforms/soapserver"></soap:address>
</port>
</service>
</definitions>